@(title: String)
<html>
<head>
    <title>@title</title>
</head>
<body>
<h3> Use J and L keys (or swipe left and right) to turn</h3>
<!--<canvas width="610" height="610" class="clear" style="border:1px dotted;float:center"></canvas>-->
<script src="assets/javascripts/jquery-2.1.1.min.js" ></script>
<script src="assets/javascripts/jquery.mobile.custom.min.js" ></script>
<!--<script src="assets/javascripts/snake.js"></script>-->

<form action="games" method="post">
   Name: <input type="text" name="name"><br>
   <input type="submit" value="Submit">
</form>
</body>


</html>

